<!-- Header for pages -->
<!-- Contains title and links -->

<html>

<head>
    <title>Student Information System</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Navbar header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/#">
                    <h3><b>Student Information System</b></h3>
                </a>
            </div>
      
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/colleges">Colleges</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>