{% include "header.html" %}

<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-select.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/application.css')}}">

{% block body %}

<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8" style="margin-right: 20px">
                    <h2 style="margin-top: 0px">
                    Students List
                    </h2>
                </div>
                <!-- Filter table field -->
                <div class="col-md-2" style="margin-right: -20px">
                    <input id="filterkey" class="form-control" type="text" placeholder="Filter...">
                </div>
                <!-- Add new student button -->
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" data-target="#newStudentModal">
                    Add New Student
                    </button>
                </div>
            </div>
        </div>

    <!-- Success alerts for add, update and remove student-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category=="success" %}
            <div class="alert alert-success alert-dismissable show" role="alert">
            <strong>Done! </strong>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissable show" role="alert">
            <strong>Oops! </strong>{{ message }}
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

        <!-- Dependent student list from database -->
        <div class="panel panel-default">
            <table id="studenttable" class="table">

                <tr class="header">
                    <th style="width: 12%">ID Number</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Course</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th style="width: 13%"></th>
                </tr>

                <!-- fill from database -->
                {% for row in students %}
                <tbody id="studentrows">
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.5}}</td>
                    <td class="text-right">
                        <!-- action buttons (update, remove) -->
                        <a href="/updatestudent/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#updatestudent{{row.0}}">Update</a>
                        <a href="/remove/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you would like to remove this student? This action cannot be undone.')">Remove</a>
                    </td>
                </tr>
                </tbody>

<!-- Update Student Modal -->
<div id="updatestudent{{row.0}}" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Student Information
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h4>
            </div>
            <!-- Update student details forms -->
            <div class="modal-body">
                <form action ="{{url_for('updatestudent')}}" method="POST">
                    <div class="row">
                        <div class="col-md-5" style="padding-right: 5px">
                            <div class="form-group">
                                <label>ID Number</label>
                                <input type="text" class="form-control" value="{{row.0}}" disabled>
                                <input name="updateID" type="hidden" value="{{row.0}}">
                            </div>
                        </div>
                        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>Year</label>
                                <input id="updateYearLevel" name="updateYearLevel" type="int" class="form-control" value="{{row.4}}" required>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 5px">
                            <div class="form-group">
                                <label for="updateGender">Gender</label>
                                <select name="updateGender" class="form-control" data-live-search="true">
                                    <option selected value="{{row.5}}">{{row.5}} (Current)</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="padding-right: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>Name</label>
                                <input id="updateLastName" name="updateLast" type="text" class="form-control" placeholder="Last Name" value={{row.1}} required>
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>⠀</label>
                                <input id="updateFirstName" name="updateFirstName" type="text" class="form-control" placeholder="First Name" value="{{row.2}}" required>
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="updateCourse">Course</label>
                                <select name="updateCourse" class="form-control">
                                    <!-- populate dropdown from courses -->
                                    <option selected value="{{row.3}}">{{row.3}} (Current)</option>
                                    {% for data in courses %}
                                    <option value="{{data.0}}">{{data.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update student</button>
                </form>
            </div>
            <div class="modal-footer">
                <h6 class="pull-left">Make sure the information is accurate.</h6>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



<!-- Add New Student Modal -->
<div class="modal fade in" id="newStudentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Student
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h4>
            </div>
            <div class="modal-body">
                <!-- add new student form -->
                <!-- post values to 'add' function -->
                <form id="addStudentForm" action ="{{url_for('addstudent')}}" method="POST">
                    <div class="row">
                        <!-- ID number form -->
                        <div class="col-md-5" style="padding-right: 5px">
                            <div class="form-group">
                                <label>ID Number</label>
                                <input id="inputIDNumber" name="inputIDNumber" type="text" class="form-control" placeholder="YYYY-NNNN" required>
                            </div>
                        </div>
                        <!-- Year form -->
                        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>Year</label>
                                <input id="inputYearLevel" name="inputYearLevel" type="int" class="form-control" placeholder="Year" required>
                                <!-- clear entry button -->
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                            </div>
                        </div>
                        <!-- Gender dropdown -->
                        <div class="col-md-4" style="padding-left: 5px">
                            <div class="form-group">
                                <label for="inputGender">Gender</label>
                                <select name="inputGender" class="form-control">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Last name form -->
                        <div class="col-md-6" style="padding-right: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>Name</label>
                                <input id="inputLastName" name="inputLastName" type="text" class="form-control" placeholder="Last Name", required>
                                <!-- clear entry button -->
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                            </div>
                        </div>
                        <!-- First name form -->
                        <div class="col-md-6" style="padding-left: 5px">
                            <div class="form-group has-feedback has-clear">
                                <label>⠀</label>
                                <input id="inputFirstName" name="inputFirstName" type="text" class="form-control" placeholder="First Name", required>
                                <!-- clear entry button -->
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <!-- Dependent course dropdown w/ search -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputCourse">Course</label>
                                <select name="inputCourse" class="form-control selectpicker" data-live-search="true" required>
                                    <option selected disabled value="">Choose...</option>
                                    <!-- populate dropdown from courses in index -->
                                    {% for row in courses %}
                                    <option value="{{row.0}}">{{row.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                          </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <h6 class="pull-left">Make sure the forms are accurately filled.</h6>
                <!-- footer buttons -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="addStudentForm">Add student</button>
            </div>
        </div>  
    </div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-validate.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/application.js')}}"></script>
<!-- Form validate script -->
<script>
    bootstrapValidate('#inputIDNumber', 'max:9:Must not exceed 9 values!');
    bootstrapValidate('#inputLastName', 'max:50:Must not exceed 50 characters!');
    bootstrapValidate('#inputFirstName', 'max:100:Must not exceed 100 characters!');
    bootstrapValidate('#inputYearLevel', 'integer:Must be an integer!');
    bootstrapValidate('#updateLastName', 'max:50:Must not exceed 50 characters!');
    bootstrapValidate('#updateFirstName', 'max:100:Must not exceed 100 characters!');
    bootstrapValidate('#updateYearLevel', 'integer:Must be an integer!');
</script>
<!-- Filter table script -->
<script>
    $(document).ready(function(){
      $("#filterkey").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#studentrows tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}